.image {
	background-image: url('stockmarket.jpg');
	background-size: cover;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 1000px;
}

.position {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.center {
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	width: 800px;
}

h1 {
	color: blue;
	font-size: 50px;
}
